
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<h2> Create Todo</h2>



 
  <form class="form1"  method="post">
      <h1>Todo</h1>
      <hr>
      <label><b>Task</b></label>
      <input type="text" placeholder="Enter Task" name="task" required>

	   <label ><b>DueBy</b></label>
      <input type="date" placeholder="Enter Due date" name="dueby" required>

	   <select name="status" >
    <option value="in progress">in progress</option>
    <option value="not started">not started</option>
    <option value="finished">finished</option>

  </select>


        <button type="submit" >Create</button>

  </form>
</div>
