
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<h2> Login Form</h2>


<div id="id01" class="modal">
 
  <form class="form1" onSubmit = "return checkPassword(this)" method="post" target="_parent">
      
      <label for="UserName"><b>UserName</b></label>
      <input type="text" placeholder="Enter username" name="username" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
 
        <button type="submit" class="signupbtn">Login</button>
    </div>
  </form>
</div>
